@import url('https://fonts.googleapis.com/css2?family=Diphylleia&family=Roboto:wght@300&display=swap');

* {
    margin: 0;
    padding: 0;
}

nav {
    background-color: rgb(51, 8, 51);
    color: white;
    height: 50px;
    font-size: 23px;
    display: flex;
    align-items: center;
    padding: 0px 13px;
    font-family: 'Roboto', sans-serif;
}

nav ul {
    list-style-type: none;
}

.container {
    display: flex;
    justify-content: center;
    /* align-items: center; */
    margin-top: 30px;
}

.line{
    background-color: #a404a4;
    height: 5px;
    width:0;
    transition: width 1s ease-in-out;
    position: absolute;
}

.game_container {
    position: relative;
    display: grid;
    grid-template-columns: repeat(3, 10vw);
    grid-template-rows: repeat(3, 10vw);
    font-family: 'Roboto', sans-serif;
}

.box {
    border: 2px solid black;
    font-size: 8vw;
    cursor: pointer;
    display: flex;
    justify-content: center;
    align-items: center;
}

.box:hover {
    background-color: rgb(243, 230, 243);
}

.game_info {
    font-family: 'Diphylleia', serif;
    padding: 0 34px;
}

.game_info h1 {
    font-size: 2.5rem;
}

.img_box img {
    width: 0;
    transition: width 1s ease-in-out;
}

.br-0 {
    border-right: 0;
}

.bl-0 {
    border-left: 0;
}

.bt-0 {
    border-top: 0;
}

.bb-0 {
    border-bottom: 0;
}

#reset {
    margin: 0px 0px 0px 10px;
    padding: 4px 10px;
    font-family: 'Roboto', sans-serif;
    font-weight: bolder;
    border-radius: 7px;
    background-color: #e9dae9;
    cursor: pointer;
}

.info {
    font-size: 20px;
}

@media screen and (max-width: 950px) {
    .container {
        flex-wrap: wrap;
    }

    .game_info {
        margin-top: 25px;
    }

    .game_info h1 {
        font-size: 1.5rem;
    }

    #first {
        margin-top: 12px;
    }

    .game_container {
        grid-template-columns: repeat(3, 20vw);
        grid-template-rows: repeat(3, 20vw);
    }
    .box{
        font-size: 15vw;
    }
    /* .line{
        width: 35vw;
    } */
}